:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.floating-block {
  height: 370px;
  width: 720px;
  border: 1px solid #e5e5e5;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .actions {
    padding: 20px 30px;
    border-bottom: 2px solid #f8f9fa;
    box-shadow: 0 -4px 10px 0 #aaa;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    color: black;

    .icon-recent {
      margin-right: 10px;
    }

    &:hover {
      color: #007bff;
      text-decoration: underline;
    }
  }

  .virtual-scroll-viewport {
    flex: 1;
    width: 100%;

    &::-webkit-scrollbar {
      width: 8px;
      background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ccc;

      &:hover {
        background-color: #999;
      }
    }

    .transaction-table {
      border-spacing: 0;

      .table-row {
        height: 50px;
        padding-left: 20px;
        padding-right: 30px;

        &.table-head-row {
          background-color: #f8f9fa;
          color: #868d9b;

          .table-head-cell {
            font-weight: 500;
            text-align: left;
          }
        }

        .table-cell {
          padding-left: 30px;

          &:last-child {
            padding-right: 62px;
          }

          .type-cell {
            border-radius: 20px;
            padding: 2px 7px;
            color: #777;
            border: 1px solid #aaa;

            &.green {
              background-color: #d6f5e9;
              color: #558552;
              border: none;
            }

            &.yellow {
              background-color: #ffee66;
              color: #545136;
              border: none;
            }

            &.gray {
              background-color: #eaeaea;
              color: #545454;
              border: none;
            }
          }
        }
      }
    }
  }
}
